<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>FUZZY LOGIC</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Salary Analysis</h1>

    <form action="{{ url_for('predict')}}"method="post">
    	<input type="number" name="experience" placeholder="Jumlah Mahasiswa Baru" required="required" />
        <input type="number" name="test_score" placeholder="Jumlah Lulusan" required="required" />
	

        <button type="submit" class="btn btn-primary btn-block btn-large">Prediksi</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>